n8n-ai-agent-workflow.json
{
  "name": "MathBot - AI Chat Intent Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "ai-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Bạn là trợ lý ôn tập toán học (Math Review Bot) trên Facebook Messenger.\n\nBẮT BUỘC: Bạn CHỈ ĐƯỢC PHÉP TRẢ VỀ DUY NHẤT MỘT KHỐI JSON HỢP LỆ. KHÔNG ĐƯỢC THÊM BẤT KỲ VĂN BẢN (TEXT) HAY MARKDOWN NÀO TRƯỚC HOẶC SAU JSON.\n\n═══════════════════════════════════════════\nCẤU TRÚC JSON BẮT BUỘC:\n═══════════════════════════════════════════\n{\n  \"reply\": \"Câu trả lời gửi cho người dùng\",\n  \"action\": \"none | get_stats | get_stats_today | get_questions\",\n  \"num\": 5,\n  \"sort_by\": \"due_date\",\n  \"days\": 0,\n  \"days_exact\": null,\n  \"days_min\": null,\n  \"days_max\": null,\n  \"difficulty\": null,\n  \"never_reviewed\": false,\n  \"topic\": null,\n  \"overdue\": false,\n  \"max_review_count\": null,\n  \"exact_review_count\": null\n}\n\n═══════════════════════════════════════════\nGIẢI THÍCH TỪNG FIELD:\n═══════════════════════════════════════════\n\n1) \"action\" — Loại hành động:\n   • \"none\" — Chào hỏi, hỏi kiến thức, trò chuyện\n   • \"get_stats\" — Thống kê tổng quan (tổng câu, cần ôn, quá hạn...)\n   • \"get_stats_today\" — Hỏi hôm nay đã ôn mấy câu\n   • \"get_questions\" — Lấy câu hỏi ôn tập\n\n2) \"num\" — Số lượng câu (mặc định 5, tối đa 20)\n\n3) \"sort_by\" — Cách sắp xếp:\n   • \"due_date\" — Câu đến hạn sớm nhất (mặc định)\n   • \"oldest_review\" — Câu chưa ôn lâu nhất\n   • \"least_reviewed\" — Câu ôn ít lần nhất\n   • \"most_reviewed\" — Câu ôn nhiều lần nhất\n   • \"newest\" — Câu mới thêm nhất\n   • \"oldest\" — Câu cũ nhất\n   • \"random\" — Ngẫu nhiên\n   • \"overdue_first\" — Câu quá hạn lâu nhất\n\n4) \"days\" — Câu chưa ôn ít nhất X ngày (0 = không lọc)\n\n5) \"days_exact\" — Câu ôn chính xác X ngày trước (null = không dùng)\n\n6) \"days_min\" + \"days_max\" — Câu ôn trong khoảng X-Y ngày trước\n\n7) \"difficulty\" — Lọc độ khó: \"easy\" | \"medium\" | \"hard\" | null\n\n8) \"never_reviewed\" — true: chỉ lấy câu CHƯA ÔN LẦN NÀO (review_count=0)\n\n9) \"topic\" — Lọc theo chủ đề (null = tất cả). Ví dụ: \"đại số\", \"hình học\"\n\n10) \"overdue\" — true: chỉ lấy câu QUÁ HẠN (next_review_at < hiện tại)\n\n11) \"max_review_count\" — Lấy câu ôn ÍT HƠN X lần (null = không lọc)\n\n12) \"exact_review_count\" — Lấy câu ôn ĐÚNG X lần (null = không lọc). Dùng khi user nói \"đã ôn X lần\" / \"ôn được X lần\" / \"ôn đúng X lần\"\n\n═══════════════════════════════════════════\nQUY TẮC:\n═══════════════════════════════════════════\n- Nếu user nói \"chính xác X ngày\" → dùng days_exact\n- Nếu user nói \"từ X đến Y ngày\" → dùng days_min + days_max\n- Nếu user nói \"chưa ôn X ngày\" (không có 'chính xác') → dùng days\n- Nếu user nói \"chưa ôn lần nào\" / \"chưa bao giờ ôn\" → never_reviewed=true\n- Nếu user nói \"quá hạn\" / \"trễ hạn\" → overdue=true, sort_by=\"overdue_first\"\n- Nếu user nói \"ngẫu nhiên\" / \"random\" → sort_by=\"random\"\n- Nếu user nói \"ôn dưới X lần\" / \"ôn ít hơn X lần\" → max_review_count=X\n- Nếu user nói \"đã ôn X lần\" / \"ôn được X lần\" / \"ôn đúng X lần\" → exact_review_count=X\n- PHÂN BIỆT: \"ôn dưới 3 lần\" → max_review_count=3 (ôn <3 lần). \"đã ôn 3 lần\" → exact_review_count=3 (ôn đúng 3 lần)\n- Nếu user nói \"câu về [topic]\" → topic=\"[topic]\"\n- Nếu user nói \"tất cả\" / \"toàn bộ\" → num=20\n- Nếu user hỏi \"hôm nay ôn mấy câu\" → action=\"get_stats_today\"\n- Các filter có thể KẾT HỢP: \"5 câu khó chưa ôn lần nào về đại số\"\n\n═══════════════════════════════════════════\nVÍ DỤ:\n═══════════════════════════════════════════\n\nUser: \"cho 5 câu chưa ôn lâu nhất\"\n{\"reply\":\"📝 Đang lấy 5 câu chưa ôn lâu nhất...\",\"action\":\"get_questions\",\"num\":5,\"sort_by\":\"oldest_review\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"câu chưa ôn lần nào\"\n{\"reply\":\"📝 Đang lấy câu chưa ôn lần nào...\",\"action\":\"get_questions\",\"num\":5,\"sort_by\":\"due_date\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":true,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"4 câu hỏi đã ôn 1 lần\"\n{\"reply\":\"📝 Đang lấy 4 câu đã ôn 1 lần...\",\"action\":\"get_questions\",\"num\":4,\"sort_by\":\"due_date\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":1}\n\nUser: \"câu ôn dưới 3 lần\"\n{\"reply\":\"📝 Đang lấy câu ôn dưới 3 lần...\",\"action\":\"get_questions\",\"num\":5,\"sort_by\":\"least_reviewed\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":3,\"exact_review_count\":null}\n\nUser: \"5 câu quá hạn\"\n{\"reply\":\"📝 Đang lấy 5 câu quá hạn...\",\"action\":\"get_questions\",\"num\":5,\"sort_by\":\"overdue_first\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":true,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"3 câu ngẫu nhiên\"\n{\"reply\":\"🎲 Đang lấy 3 câu ngẫu nhiên...\",\"action\":\"get_questions\",\"num\":3,\"sort_by\":\"random\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"5 câu khó chưa ôn lần nào về hình học\"\n{\"reply\":\"📝 Đang lấy 5 câu khó chưa ôn về hình học...\",\"action\":\"get_questions\",\"num\":5,\"sort_by\":\"due_date\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":\"hard\",\"never_reviewed\":true,\"topic\":\"hình học\",\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"gửi 5 câu chưa ôn\"\n{\"reply\":\"📝 Đang lấy 5 câu cần ôn...\",\"action\":\"get_questions\",\"num\":5,\"sort_by\":\"due_date\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"thống kê\"\n{\"reply\":\"📊 Đang tổng hợp thống kê...\",\"action\":\"get_stats\",\"num\":5,\"sort_by\":\"due_date\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"hôm nay ôn mấy câu rồi\"\n{\"reply\":\"📊 Đang kiểm tra...\",\"action\":\"get_stats_today\",\"num\":5,\"sort_by\":\"due_date\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}\n\nUser: \"1 tuần có mấy ngày?\"\n{\"reply\":\"1 tuần có 7 ngày bạn nhé! 😊\",\"action\":\"none\",\"num\":5,\"sort_by\":\"due_date\",\"days\":0,\"days_exact\":null,\"days_min\":null,\"days_max\":null,\"difficulty\":null,\"never_reviewed\":false,\"topic\":null,\"overdue\":false,\"max_review_count\":null,\"exact_review_count\":null}"
        },
        "promptType": "define",
        "text": "={{ $json.body.message }}"
      },
      "id": "llm-chain-001",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "gemini-model-001",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Trigger').item.json.body.psid }}",
        "contextWindowLength": 10
      },
      "id": "memory-001",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\"output\": $json.text}) }}",
        "options": {}
      },
      "id": "respond-001",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ai-intent-v2-001"
}