n8n-cron-notify.json
{
  "name": "MathBot - Daily Review Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "e9ebdcf9-0d36-4d2c-af87-3dcf2d137107",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        280
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/n8n/users-due",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "my-super-secret-n8n-key-2024"
            }
          ]
        },
        "options": {}
      },
      "id": "8447833a-67cc-44a5-9bb0-f47228892f39",
      "name": "Get Users Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "04ec67eb-a6b1-4bb2-b5e0-51c8901eb4fc",
      "name": "Split Users",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        640,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_notify }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c86c1add-b6aa-4c28-9104-585eecfaf385",
      "name": "If Has Due",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/891572780710628/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAALKKZAlL09UBRVHh4MgPVydZAj2i2FAjfMTW5Mr7KR22hdVJfEageuZAcFMe8U91BZBp65eE61gIdr1Nh4vjlDars7gS4T3QwrJPLz0PS5HwLWgE7LxxAZBGjYMIElsnqlLLnxsW97zZAIXDpZBZAgUEnReKcIp8aZC5jdbabmf9Wo2CvwDPMoaO5HEGZCYPqPBKyj1F6ZAGpTkMBHzxLi1oXWDnNg4nY8pdhqAlYPYM87FA4ZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.psid }}\" },\n  \"message\": {\n    \"text\": \"Xin chào {{ $json.name }}! 🔔\\n\\nHôm nay bạn có {{ $json.due_today }} câu hỏi toán cần ôn tập.\\nBạn cũng có {{ $json.due_next_7_days }} câu sắp đến hạn trong tuần này.\\n\\nNhắn \\\"gửi {{ Math.min($json.due_today, 5) }} bài\\\" để bắt đầu luyện tập nha 💪\"\n  },\n  \"messaging_type\": \"UPDATE\"\n}",
        "options": {}
      },
      "id": "875b22b1-12c8-4720-bfcc-7ed2f205373a",
      "name": "Send Messenger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        260
      ]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "No Notification Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Users Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users Due": {
      "main": [
        [
          {
            "node": "Split Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Users": {
      "main": [
        [
          {
            "node": "If Has Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Due": {
      "main": [
        [
          {
            "node": "Send Messenger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Notification Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65bcdf27-b52b-4226-aa09-3fed04c868eb",
  "id": "J1kL2R3q5y",
  "meta": {
    "instanceId": "dc8b5df4faac"
  },
  "tags": []
}
